<!doctype html>
<html lang="en" ng-app="vizsecPapers">
    <head>
        <meta charset="utf-8">
        <title>Climate Change Visualizations</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/animations.css">

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/d3plus/d3plus.min.js"></script>
        <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
        <script src="bower_components/wordcloud2.js/src/wordcloud2.js"></script>

        <script src="js/app.js"></script>
        <script src="js/animations.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
    </head>
    <body>
        <div class="view-container container-fluid" ng-controller="MainController">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">Climate Change Visualizations</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                    <li ng-class="{ active: isSet(1) }"><a href ng-click="setTab(1)"><i class="glyphicon glyphicon-th-list"></i><span>&nbsp; List</span></a></li>
                                    <li ng-class="{ active: isSet(2) }"><a href ng-click="setTab(2)"><i class="glyphicon glyphicon-th"></i><span>&nbsp; Thumbnails</span></a></li>
                                    <li ng-class="{ active: isSet(3) }"><a href ng-click="setTab(3)"><i class="glyphicon glyphicon-cloud"></i><span>&nbsp; WordCloud</span></a></a></li>
        
                                </ul>

                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input ng-model="query" ng-change="updateVis()" type="text" class="form-control" placeholder="Search">
                            </div>

                        </form>


                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li><a href="https://ff.cx/contact/"><i class="glyphicon glyphicon-envelope"></i><span>&nbsp; Imprint</span></a></li> -->
                            <!-- <li><a href="https://ff.cx/privacy/"><i class="glyphicon glyphicon-eye-open"></i><span>&nbsp; Privacy Policy</span></a></li> -->
                            <li><a href="https://www.dropbox.com/s/2ddtrghegfudhi6/On%20Inconvenient%20Images%20-%20EnvirVis2019%20-%20Preprint.pdf?dl=0" target="_blank"><i class="glyphicon glyphicon-info-sign"></i><span>&nbsp; Survey Paper (PDF)</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        
            <div class="row">
                <div class="col-sm-2 hidden-xs">
                    <!-- <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{ active: filters.year == '' }"><a href ng-click="filters.year = ''; updateVis();">All ({{(papers|filter: search).length}})</a></li>
                        <li ng-class="{ active: filters.year == paper.year }" ng-repeat="paper in papers| unique:'year' | orderBy:['-year']">
                            <a href ng-click="filters.year = paper.year; updateVis();">{{paper.year}} ({{ (papers | filter: {year:paper.year} | filter: search).length}})</a>
                        </li>
                    </ul> -->

                        <div class="list-group">
                                <a class="list-group-item" ng-class="{ active: filters.year == '' }" ng-click="filters.year = ''; updateVis();" >All ({{(papers|filter: search).length}})</a>
                                <a class="list-group-item" ng-class="{ active: filters.year == paper.year }" ng-repeat="paper in papers| unique:'year' | orderBy:['-year']" ng-click="filters.year = paper.year; updateVis();">{{paper.year}} <span class="badge">  {{ (papers | filter: {year:paper.year} | filter: search).length}} </span></a>
                              </div>
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-10 text-center">
                        <div class="starter-template">
                                <h3 class="header-title"> Visualization Approaches to Climate Change</h1>
                                <p class="lead">
                                    This is a collection of visualizations of climate change (CC) with a focus on representations for public audiences. It is the result from a <a href="https://www.dropbox.com/s/2ddtrghegfudhi6/On%20Inconvenient%20Images%20-%20EnvirVis2019%20-%20Preprint.pdf?dl=0" target="_blank">Survey Study</a> , which has been initiated by <a href="https://www.researchgate.net/lab/danubeVISlab-Eva-Mayr" target="_blank">DanubeVISlab</a>, and which is intended to steadily grow. Please send new candidates to mail adress (florian.windhager@donau-uni.ac.at).
                                </p>

                                <hr>
                                <span>Encoded Types of Data:</span>
                                <a class="label label-default" href ng-click="query = 'temperature'; updateVis();">Temperature ({{(papers|filter: {cluster:'temperature'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'co2'; updateVis();">CO2 concentration ({{(papers|filter: {cluster:'co2'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'global'; updateVis();">Global Data ({{(papers|filter: {cluster:'global'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'local'; updateVis();">Local Data ({{(papers|filter: {cluster:'local'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'causes'; updateVis();">CC Causes ({{(papers|filter: {cluster:'causes'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'effects'; updateVis();">CC Effects ({{(papers|filter: {cluster:'effects'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'descriptive'; updateVis();">Descriptive ({{(papers|filter: {cluster:'descriptive'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'prognostic'; updateVis(); ">Prognostic ({{(papers|filter: {cluster:'prognostic'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'uncertainty'; updateVis(); ">Data Uncertainty ({{(papers|filter: {cluster:'uncertainty'}).length}})</a> |

                                <hr>
                                <span>Visualization of Temperature:</span>
                                <a class="label label-default" href ng-click="query = 'linechart'; updateVis();">Line Chart ({{(papers|filter: {cluster:'linechart'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'coloredmap'; updateVis();">Colored Map ({{(papers|filter: {cluster:'coloredmap'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'barchart'; updateVis();">Bar Chart({{(papers|filter: {cluster:'barchart'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'other'; updateVis();">Other ({{(papers|filter: {cluster:'other'}).length}})</a> |

                                <hr>
                                <span>Visualization of Change over Time:</span>
                                <a class="label label-default" href ng-click="query = '1dtimeaxis'; updateVis();">1dtimeaxis ({{(papers|filter: {cluster:'1dtimeaxis'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = '2dtimeaxis'; updateVis();">2dtimeaxis ({{(papers|filter: {cluster:'2dtimeaxis'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = '3dtimeaxis'; updateVis();">3dtimeaxis ({{(papers|filter: {cluster:'3dtimeaxis'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'animation-slideshow'; updateVis(); ">Animation / Slideshow ({{(papers|filter: {cluster:'animation-slideshow'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'colorcoding'; updateVis(); ">Color Coding({{(papers|filter: {cluster:'colorcoding'}).length}})</a> |

                                <hr>
                                <span>Miscellaneous:</span>

                                <a class="label label-default" href ng-click="query = 'multipleviews'; updateVis();">Multiple Views ({{(papers|filter: {cluster:'multipleviews'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'interactive'; updateVis();">Interactive ({{(papers|filter: {cluster:'interactive'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'video'; updateVis();">Video ({{(papers|filter: {cluster:'video'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'narrative'; updateVis(); ">Narrative VIS ({{(papers|filter: {cluster:'narrative'}).length}})</a> |
                                <a class="label label-default" href ng-click="query = 'publicaudiences'; updateVis(); ">Public Audience ({{(papers|filter: {cluster:'publicaudiences'}).length}})</a> |
                                <!-- <a class="label label-default" href ng-click="query = 'other'; updateVis();">Other ({{(papers|filter: {cluster:'other'}).length}})</a> | -->

                            </div>
                </div>

                <div class="col-sm-10" ng-show="isSet(1)">
				
				  <ul class="papers">
                    <p><strong>{{filters.year}} Papers:</strong> {{filtered.length}} / {{(papers| filter: {year:filters.year}).length }}</br></br></p>

                        <li ng-click="open(paper)" ng-repeat="paper in filtered = (papers | filter: search |filter: {year:filters.year}  | orderBy:['-year', 'title'])" class="paper-listing paper-animation">
                            
                            <div class="thumbnail-image"><div class="galleryImgWrapper"><img ng-show="paper.ID" title="{{paper.title}}" ng-src="https://danubevislab.github.io/climatevis/papers/screenshots/{{paper.ID}}.PNG"></div></div>
                           
                            <em>{{paper.authors}}</em><br/>
                            <strong>{{paper.title}}</strong> ({{paper.year}})<br/>

                            <em>{{paper.conference}}</em><span ng-if="paper.doi"><em> - DOI: {{paper.doi}}</em></span>
                            <!-- <p>{{paper.abstract| limitTo : 100 }} ... </p> -->

                            <span  class="label label-default">{{paper.data_temperatures}}</span>
                            <span  class="label label-default">{{paper.data_co2}}</span>
                            <span  class="label label-default">{{paper.data_global}}</span>
                            <span  class="label label-default">{{paper.data_local}}</span>
                            <span  class="label label-default">{{paper.data_causes}}</span>
                            <span  class="label label-default">{{paper.data_effects}}</span>
                            <span  class="label label-default">{{paper.data_descriptive}}</span>
                            <span  class="label label-default">{{paper.data_uncertainty}}</span>
                            
                            <span  class="label label-default">{{paper.tempvis_line_chart}}</span>
                            <span  class="label label-default">{{paper.tempvis_colored_map}}</span>
                            <span  class="label label-default">{{paper.tempvis_bar_chart}}</span>
                            <span  class="label label-default">{{paper.tempvis_other}}</span>

                            <span  class="label label-default">{{paper.timevis_1D_time_axis}}</span>
                            <span  class="label label-default">{{paper.timevis_2D_time_axis}}</span>
                            <span  class="label label-default">{{paper.timevis_3D_time_axis}}</span>
                            <!-- <span  class="label label-default">{{paper.tempvis_animation-slideshow}}</span> -->
                            <span  class="label label-default">{{paper.timevis_color_coding}}</span>

                            <span  class="label label-default">{{paper.multiple_views}}</span>
                            <span  class="label label-default">{{paper.interactive}}</span>
                            <span  class="label label-default">{{paper.video}}</span>
                            <span  class="label label-default">{{paper.narrative_vis}}</span>
                            <span  class="label label-default">{{paper.public_communication}}</span>
                        </li>
                    </ul>

                </div>
                <div class="col-md-10" ng-show="isSet(2)">

                    <ul class="thumbnails">
					
                    <!-- <p><strong> Thumbnails - {{filters.year}} Papers:</strong> {{filtered.length}} / {{(papers| filter: {year:filters.year}).length }} | <a href ng-click="query = ''; updateVis();">Clear Selection ({{(papers).length}})</a>  -->
                    <p><strong> CC - {{filters.year}} Visualizations:</strong> {{filtered.length}} / {{(papers| filter: {year:filters.year}).length }} | <a href ng-click="query = ''; updateVis();">Clear Selection ({{(papers).length}})</a> 
                    </br></br></p> 

                        <li ng-repeat="paper in filtered = (papers| filter: search  | filter: {year:filters.year} | orderBy:['-year', 'title'])" class="paper-thumbnails paper-animation">
                            <!-- <a href ng-click="open(paper)" class="thumbnail-image"><div class="galleryImgWrapper"><img title="{{paper.title}}" ng-src="papers/{{paper.thumbnail && (paper.thumbnail) || ('missing.png')}}"></div></a> -->
                            <a href ng-click="open(paper)" class="thumbnail-image"><div class="galleryImgWrapper"><img title="{{paper.title}}" ng-src="https://danubevislab.github.io/climatevis/papers/screenshots/{{paper.ID}}.PNG"></div></a>

                        </li>

                    </ul>

                </div>
                <div class="col-md-10" ng-show="isSet(3)">

                    <p><strong>WordCloud - {{filters.year}} Papers:</strong> {{filtered.length}} / {{(papers| filter: {year:filters.year}).length }}<br/><br/></p>

                    <canvas width="1000px" height="600px" id="wordcloud"></canvas>

                </div>

                </div>
            </div>




        </div>

    </body>
</html>
